header {
  height: 95vh;
  display: flex;
  align-items: center;
}

.discount {
  border: 1px dashed white;
  display: flex;
  align-items: center;
  padding-left: 24px;
  gap: 24px;
  border-radius: 8px;
  align-self: flex-start;
}